.box__view {
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
